.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.invert{
    filter: invert(1);
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
    margin-left: 5px;
}

.round{
    border-radius: 7px;
}

.mar1{
    margin: 5px;
}

.pad1{
    padding: 15px;
}